/* Your Website Styles */
body {
	background-image: url('../img/halftone.png');
	color: #999;
}

/*HEADER*/



a {
	text-decoration: none;
	color: #313A3A;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Dancing Script', sans-serif;
	margin: 15px 0;
	font-size: 8em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-family: 'Poiret One', sans-serif;
	font-size: 2em;
	margin: -5px 0 0;
	font-weight: normal;
}

/*NAVIGATION*/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}
header {
	background: #4C5A5A;
	border-color: #599a68;
}

h1, h2 {
	color: #99FFCC;
}

nav a {
	color: #FFF;
}

nav a:visited {
	color: #FFFFFF;
}

nav a.selected, nav a:hover {
	color: #A3C2C2;
}

body {
	font-family: 'Poiret One', sans-serif;
}

footer {
	font-size: .8em;
	text-align: center;
	padding-top: 50px;
}



/* Show Grid */



